<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
             connectionString="Server=localhost;Database=TODOLISTSQL;User ID=sa;Password=StrongPassw0rd789;Encrypt=False;TrustServerCertificate=True;Connection Timeout=30;Integrated Security=False" />
	</connectionStrings>
</configuration>